/*
A custom Bootstrap 3.1 theme from http://bootply.com\

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/


html,body{
    height:100%;
}

body{
    padding-top:50px; /*padding for navbar*/
}

.hidden {
    visibility: hidden;
}

.navbar-custom .icon-bar {
    background-color:#fff;
}

.navbar-custom {
    background-color: #168ccc;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
    background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
    border-color: #49bfff;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0;
    box-shadow: inset 0 0 0;
}

#main, #main>.row {
    height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
    height:100%;
}

#map {
    height:100%;
    bottom:0;
    top:0;
    overflow:hidden;
}

#destinations {
    list-style-type: none;
}

#travel {
    list-style-type: none;
}

#max_dest {
    color: red;
}

#directions {
    display: none;
}

#map { height: 100%; }
